<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Password Generator</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
    <a class="p-2 text-dark" href="{% url 'generator' %}">Generate Now</a>
  </nav>
</div>
<div class="container">

    <div class="card mt-5 mb-5">
      <div class="card-body">
          <div class="form-inline">
              <div class="row">
                  <label class="mr-4 ml-3" for="generator">Your Password</label>
                  <input class="form-control" type="text" name="generator" value="{{ password }}">
                  <div class="ml-2 pt-1">
                      <a onClick="refreshPage()">
                          <svg id="i-reload" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2" /></svg>
                      </a>
                  </div>
              </div>
          </div>

          <div class="row mt-5 ml-3"><a href="{% url 'home' %}">Back to Home</a></div>

      </div>
    </div>

  <footer class="my-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 by <a href="http://www.arashyazdanian.ir/" target="_blank">Arash Yazdanian</a> | Powered by <a href="https://www.djangobroject.com/" target="_blank">Django</a></p>
  </footer>

</div>
<script>
function refreshPage(){
    window.location.reload();
}
</script>
</body>
</html>