<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Password Generator</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
    <a class="p-2 text-dark" href="{% url 'generator' %}">Generate Now</a>
  </nav>
</div>
<div class="container">
<div class="card mt-5 mb-5">
  <div class="card-body">

    <form class="form-group" action="{% url 'generator' %}">
      <div class="form-row">
        <label for="length">Select Length of your Password</label>
        <select class="custom-select" name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected="selected">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
      </div>

      <hr>

      <div class="custom-control custom-switch"><input id="uppercase" class="custom-control-input" type="checkbox" name="uppercase"><label class="custom-control-label" for="uppercase">Use Uppercase</label></div>
      <div class="custom-control custom-switch"><input id="numbers" class="custom-control-input" type="checkbox" name="numbers"><label class="custom-control-label" for="numbers">Use Numbers</label></div>
      <div class="custom-control custom-switch"><input id="specialCharacters" class="custom-control-input" type="checkbox" name="specialCharacters"><label class="custom-control-label" for="specialCharacters">User Special Characters</label></div>

      <hr>

        <input class="btn btn-primary" type="submit" value="Generate">
    </form>

  </div>
</div>

  <footer class="my-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 by <a href="http://www.arashyazdanian.ir/" target="_blank">Arash Yazdanian</a> | Powered by <a href="https://www.djangobroject.com/" target="_blank">Django</a></p>
  </footer>

</div>
</body>
</html>